<template name="famousInit">
	{{#Scrollview}}
	    {{#Surface size="[undefined,true]"}}
	    	<h1>Welcome to Meteor!</h1>

	        I am a full size Surface

	        {{> hello}}
	    {{/Surface}}

	    {{#famousEach items}}
		    {{#Surface size="[undefined,50]"}}
		      {{name}} - {{code}}
		    {{/Surface}}
  		{{/famousEach}}
	{{/Scrollview}}    
</template>